<mat-card>
    <mat-card-title>Novo produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="nome" [(ngModel)] = 'product.name' name = 'name'>
        </mat-form-field>
        <mat-form-field>
            <input type = "number" matInput placeholder="preço" [(ngModel)] = 'product.price' name = 'price'>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Selecione tipo da transação</mat-label>
          <mat-select [(value)] = 'product.productType'>
            <!--<mat-option *ngFor = 'let typer of types' value = 'type.value'>{{type.viewValue}} </mat-option>-->
            <mat-option *ngFor = 'let type of types' [value] = "type.value">{{type.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
    </form>

<button mat-raised-button color="primary" (click) = 'createProduct()'>salvar</button>
<button mat-raised-button  (click) = 'cancel()'>cancelar</button>
</mat-card>