.title{
    font-size: 3rem; /* Rem => Tamanho relativo a fonte padrão do browser*/
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
}

.home{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}