<mat-card>
    <mat-card-title>Editar produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="nome" [(ngModel)] = 'product.name' name = 'name'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="preço" [(ngModel)] = 'product.price' name = 'price'>
        </mat-form-field>
    </form>

<button mat-raised-button color="primary" (click) = 'updateProduct()'>atualizar</button>
<button mat-raised-button  color = "white" (click) = 'cancel()'>cancelar</button>
</mat-card>